/* Colors */
$dark-blue: #121230;
$green: #4ef4ac;
$orange: #e88624;
$grey: #dddddd;
$grey-dark: #2b2b2b;
$grey-medium: #6b6b6d;
$grey-drop-shadow: rgba(0,0,0, 0.25);
$grey-light: #f4f4f4;
$grey-bg: #f8f8f8;
$grey-border: #d8d8d8;
$white: #ffffff;

/* Measurements/Sizes */
$teaser-height: 550px;
$teaser-height-slim: 250px;
$nav-bar-height: 130px;
$nav-bar-height-slim: 100px;
$box-top-bar-height: 120px;

/* Font */
$font-family-headers: 'Jura', sans-serif;
$font-family-paras: 'Mulish', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-heavy: 700;
$line-height: 1.5rem;

/* Grid */
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
$breakpoint-x-large: 72em; // 1152px

/* Miscellaneous */
$news-header-max-lines: 2;
$news-text-max-lines: 9;

/* Mixins */
@mixin multiLineEllipsis($max-lines) {
  line-height: $line-height;
  display: -webkit-box;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin clipCorner($angle, $color1, $color-stop-width-1, $color2, $color-stop-width-2) {
  background-image: linear-gradient($angle, $color1 $color-stop-width-1, $color2 $color-stop-width-2);
}
