/* Colors */
/* Measurements/Sizes */
/* Font */
/* Grid */
/* Miscellaneous */
/* Mixins */
/* jura-regular - latin */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jura-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/jura-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/jura-v16-latin-regular.woff2") format("woff2"), url("../fonts/jura-v16-latin-regular.woff") format("woff"), url("../fonts/jura-v16-latin-regular.ttf") format("truetype"), url("../fonts/jura-v16-latin-regular.svg#Jura") format("svg");
  /* Legacy iOS */
}
/* jura-500 - latin */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jura-v16-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/jura-v16-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/jura-v16-latin-500.woff2") format("woff2"), url("../fonts/jura-v16-latin-500.woff") format("woff"), url("../fonts/jura-v16-latin-500.ttf") format("truetype"), url("../fonts/jura-v16-latin-500.svg#Jura") format("svg");
  /* Legacy iOS */
}
/* jura-700 - latin */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jura-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/jura-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/jura-v16-latin-700.woff2") format("woff2"), url("../fonts/jura-v16-latin-700.woff") format("woff"), url("../fonts/jura-v16-latin-700.ttf") format("truetype"), url("../fonts/jura-v16-latin-700.svg#Jura") format("svg");
  /* Legacy iOS */
}
/* mulish-regular - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v3-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v3-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v3-latin-regular.woff2") format("woff2"), url("../fonts/mulish-v3-latin-regular.woff") format("woff"), url("../fonts/mulish-v3-latin-regular.ttf") format("truetype"), url("../fonts/mulish-v3-latin-regular.svg#Mulish") format("svg");
  /* Legacy iOS */
}
/* mulish-700 - latin */
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v3-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/mulish-v3-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/mulish-v3-latin-700.woff2") format("woff2"), url("../fonts/mulish-v3-latin-700.woff") format("woff"), url("../fonts/mulish-v3-latin-700.ttf") format("truetype"), url("../fonts/mulish-v3-latin-700.svg#Mulish") format("svg");
  /* Legacy iOS */
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^=col] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.no-gutter {
  width: 100% !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.3333333333%;
}

.col-2-sm {
  width: 12.6666666667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.3333333333%;
}

.col-5-sm {
  width: 37.6666666667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.3333333333%;
}

.col-8-sm {
  width: 62.6666666667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.3333333333%;
}

.col-11-sm {
  width: 87.6666666667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.3333333333%;
  }

  .col-2 {
    width: 12.6666666667%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.3333333333%;
  }

  .col-5 {
    width: 37.6666666667%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.3333333333%;
  }

  .col-8 {
    width: 62.6666666667%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.3333333333%;
  }

  .col-11 {
    width: 87.6666666667%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: none;
  }
}
body.pa-fid {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: "Mulish", sans-serif;
  background-color: #ffffff;
  hyphens: auto;
  overflow-x: hidden;
}

.pa-fid {
  /* Example page - should be removed for production */
}
.pa-fid * {
  box-sizing: border-box;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}
.pa-fid h1, .pa-fid h2, .pa-fid h3, .pa-fid h4, .pa-fid h5, .pa-fid h6 {
  font-family: "Jura", sans-serif;
}
.pa-fid h1, .pa-fid h2, .pa-fid h3 {
  font-weight: 700;
}
.pa-fid h1 {
  font-size: 2rem;
}
.pa-fid h2 {
  font-size: 1.5625rem;
}
.pa-fid h3 {
  font-size: 1.25rem;
}
.pa-fid a {
  color: #2b2b2b;
}
.pa-fid p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.pa-fid strong {
  font-variant: normal;
}
.pa-fid ul, .pa-fid li {
  margin: 0;
  padding: 0;
}
.pa-fid .visible-large {
  display: none;
}
@media only screen and (min-width: 60em) {
  .pa-fid .visible-large {
    display: block;
  }
}
.pa-fid .hidden-large {
  display: block;
}
@media only screen and (min-width: 60em) {
  .pa-fid .hidden-large {
    display: none;
  }
}
.pa-fid .header-wrapper {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper {
    position: sticky;
    top: -60px;
    height: 130px;
  }
}
.pa-fid .header-wrapper .top-bar {
  height: 1.5rem;
  width: 100%;
  background-color: #121230;
}
.pa-fid .header-wrapper .nav-bar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .nav-bar {
    height: 130px;
  }
}
.pa-fid .header-wrapper .nav-bar .cols-wrapper {
  position: sticky;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media only screen and (min-width: 72em) {
  .pa-fid .header-wrapper .nav-bar .cols-wrapper {
    width: 1152px;
  }
}
.pa-fid .header-wrapper .col-name-logo {
  margin: 0;
  float: left;
  width: auto;
  height: auto;
}
.pa-fid .header-wrapper .col-name-logo img {
  width: 140px;
  display: block;
  float: right;
  margin: 28px 20px 0 20px;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-name-logo img {
    width: 170px;
    margin: 55px 20px 0 20px;
  }
}
.pa-fid .header-wrapper .col-navigation {
  margin: 0;
  flex-grow: 1;
  height: 100px;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-navigation {
    display: block;
    top: 30px;
    position: relative;
  }
}
.pa-fid .header-wrapper .col-navigation ul {
  list-style-type: none;
  width: 590px;
  height: 74px;
  margin: 36px auto 0 auto;
  display: none;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-navigation ul {
    display: block;
  }
}
.pa-fid .header-wrapper .col-navigation li {
  float: left;
  padding: 8px 16px;
  height: 56px;
}
.pa-fid .header-wrapper .col-navigation li a {
  display: inline-block;
  height: 56px;
  font-family: "Jura", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-decoration: none;
  padding-bottom: 32px;
  text-transform: uppercase;
}
.pa-fid .header-wrapper .col-navigation li a:hover, .pa-fid .header-wrapper .col-navigation li a.link-active {
  color: #4ef4ac;
}
.pa-fid .header-wrapper .col-navigation li a.link-active {
  padding-bottom: 24px;
  border-bottom: 8px #4ef4ac solid;
}
.pa-fid .header-wrapper .col-shopping-cart {
  margin: 0 15px;
  min-width: 60px;
  height: 70px;
  width: auto;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 25" style="enable-background:new 0 0 32 25;" xml:space="preserve"><style type="text/css">.st0{fill:%23cdcdcd;}</style><path class="st0" d="M31.8,6c-0.2-0.2-0.5-0.4-0.8-0.4H8.1l-0.8-4L7.2,1.2l0,0C7.2,1.1,7.1,1,7,0.9c0,0,0-0.1-0.1-0.1 c0-0.1,0-0.1-0.1-0.2c0,0-0.1,0-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1H6.4H6.3H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h4.4l3.7,18.1 c0.1,0.5,0.5,0.8,1,0.8h0.4c-0.1,0.2-0.1,0.4-0.1,0.6c0,1.5,1.2,2.6,2.6,2.6s2.6-1.2,2.6-2.6c0-0.2,0-0.4-0.1-0.6h7.3 c-0.1,0.2-0.1,0.4-0.1,0.6c0,1.5,1.2,2.6,2.6,2.6s2.6-1.2,2.6-2.6c0-0.2,0-0.4-0.1-0.6h0.4c0.6,0,1-0.4,1-1s-0.4-1-1-1H10.9L10.6,18 H29c0.5,0,0.9-0.3,1-0.8l2-10.4C32,6.5,32,6.2,31.8,6z M29.2,10.8h-3.3l0.2-3.2h3.7L29.2,10.8z M14.8,12.8h3.5V16H15L14.8,12.8z M13,16.1h-2.7l-0.7-3.2h3.2L13,16.1z M14.7,10.8l-0.2-3.2h3.8v3.2H14.7z M20.3,12.8h3.5L23.6,16h-3.3V12.8z M20.3,10.8V7.6h3.8 l-0.2,3.2H20.3z M12.5,7.6l0.2,3.2H9.2L8.5,7.6H12.5z M13.7,22c0,0.3-0.3,0.6-0.6,0.6s-0.6-0.3-0.6-0.6s0.3-0.6,0.6-0.6 S13.7,21.6,13.7,22z M26.1,22c0,0.3-0.3,0.6-0.6,0.6s-0.6-0.3-0.6-0.6s0.3-0.6,0.6-0.6S26.1,21.6,26.1,22z M25.5,16.1l0.2-3.2h3.1 l-0.6,3.2H25.5z"/></svg>');
  background-size: 60% 60%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-shopping-cart {
    height: 130px;
  }
}
.pa-fid .header-wrapper .col-shopping-cart img {
  width: 30px;
  margin: 36px auto 0 auto;
  display: block;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-shopping-cart img {
    width: 50px;
    margin: 30px auto 0 auto;
  }
}
.pa-fid .header-wrapper .col-mobile-menu {
  margin: 0;
  min-width: 70px;
  width: auto;
  height: auto;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle {
  display: block;
  position: relative;
  top: 38px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle a {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #232323;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle a.link-active {
  color: #4ef4ac;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle a:hover {
  color: #4ef4ac;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input {
  display: block;
  width: 70px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle label.toggle-menu-open {
  position: relative;
  display: block;
  width: 100%;
  height: 24px;
  z-index: 1;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 21"><defs><style>.cls-1{fill:%23cdcdcd;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><rect id="Rechteck_136" data-name="Rechteck 136" class="cls-1" width="35" height="5" rx="2"/><rect id="Rechteck_137" data-name="Rechteck 137" class="cls-1" y="8" width="35" height="5" rx="2"/><rect id="Rechteck_138" data-name="Rechteck 138" class="cls-1" y="16" width="35" height="5" rx="2"/></g></g></svg>');
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle label.toggle-menu-close {
  position: relative;
  padding-left: 22px;
  display: block;
  width: 100%;
  height: 24px;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.63 26.63"><defs><style>.cls-1{fill:%23cdcdcd;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M16.85,13.31,26,4.12a2,2,0,0,0,0-2.83l-.71-.7a2,2,0,0,0-2.82,0l-9.2,9.19L4.12.59a2,2,0,0,0-2.83,0l-.7.7a2,2,0,0,0,0,2.83l9.19,9.19L.59,22.51a2,2,0,0,0,0,2.82l.7.71a2,2,0,0,0,2.83,0l9.19-9.19L22.51,26a2,2,0,0,0,2.82,0l.71-.71a2,2,0,0,0,0-2.82Z"/></g></g></svg>');
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle label div {
  display: block;
  width: 32px;
  height: 3px;
  margin: 0 auto 6px auto;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle label, .pa-fid .header-wrapper .col-mobile-menu #menuToggle input {
    display: none;
  }
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked + label div {
  background: #232323;
}
.pa-fid .header-wrapper .col-mobile-menu #menu {
  display: block;
  position: absolute;
  width: 100vw;
  margin: -100px 0 0 0;
  padding: 50px;
  background: #ededed;
  list-style-type: none;
  right: -5000px;
  -webkit-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
}
.pa-fid .header-wrapper .col-mobile-menu #menu li {
  padding: 10px 0;
  font-size: 22px;
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input:not(:checked) ~ .toggle-menu-open {
  display: block;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle input:not(:checked) ~ .toggle-menu-open {
    display: none;
  }
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input:not(:checked) ~ .toggle-menu-close {
  display: none;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle input:not(:checked) ~ .toggle-menu-close {
    display: none;
  }
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ .toggle-menu-open {
  display: none;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ .toggle-menu-open {
    display: none;
  }
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ .toggle-menu-close {
  display: block;
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ .toggle-menu-close {
    display: none;
  }
}
.pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ #menu {
  right: 0;
}
@media only screen and (min-width: 340px) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ #menu {
    right: -20px;
  }
}
@media only screen and (min-width: 60em) {
  .pa-fid .header-wrapper .col-mobile-menu #menuToggle input:checked ~ #menu {
    right: -5000px;
  }
}
.pa-fid .teaser-image, .pa-fid .teaser-image-slim {
  background-image: url("../img/stock-image.jpeg");
  background-size: cover;
  background-position: center center;
  background-color: #ffffff;
  width: 100%;
  position: relative;
}
.pa-fid .teaser-image .teaser-gradient, .pa-fid .teaser-image-slim .teaser-gradient {
  background-image: linear-gradient(to top, #ffffff, transparent);
  height: 550px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
}
.pa-fid .teaser-image {
  height: 550px;
}
.pa-fid .teaser-image-slim {
  height: 250px;
}
.pa-fid .teaser-box {
  position: relative;
  margin: -275px auto 0 auto;
  width: 95%;
  height: auto;
  background-image: linear-gradient(315deg, transparent 20px, #ffffff 20px);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 72em) {
  .pa-fid .teaser-box {
    width: 1152px;
  }
}
.pa-fid .teaser-box .top-bar {
  height: 120px;
  padding: 0.3rem 0 0 3%;
  background-color: #121230;
}
.pa-fid .teaser-box .top-bar .headline {
  color: #ffffff;
  margin: 25px 0 0 4px;
  font-size: 1.5rem;
  text-align: left;
}
.pa-fid .teaser-box .top-bar .sub-headline {
  color: #4ef4ac;
  padding-top: 0.2rem;
  margin: 0 0 0 4px;
  font-family: "Jura", sans-serif;
  font-weight: bold;
  font-size: 0.85rem;
  text-align: left;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .teaser-box .top-bar .headline {
    font-size: 2rem;
    margin: 35px 0 0 0;
  }
  .pa-fid .teaser-box .top-bar .sub-headline {
    font-size: 1.0625rem;
    margin: 0;
  }
}
@media only screen and (min-width: 45em) {
  .pa-fid .teaser-box .top-bar {
    padding: 0.3rem 0 0 2%;
  }
}
.pa-fid .teaser-box .top-bar .logo-wrapper {
  width: 20%;
  float: right;
  color: #ffffff;
  display: none;
}
@media only screen and (min-width: 45em) {
  .pa-fid .teaser-box .top-bar .logo-wrapper {
    display: block;
  }
}
.pa-fid .teaser-box .top-bar .logo-wrapper img {
  width: 80px;
  display: block;
  margin: 30px auto;
}
.pa-fid .teaser-box .col-6 {
  margin: 0.5rem 3%;
}
@media only screen and (min-width: 45em) {
  .pa-fid .teaser-box .col-6 {
    margin: 0.5rem 2%;
  }
}
.pa-fid .teaser-box a {
  text-decoration: none;
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .teaser-box .cta-wrapper {
    text-align: center;
  }
}
.pa-fid .teaser-box .cta-btn {
  width: 300px;
  height: 50px;
  background-color: #4ef4ac;
  color: #ffffff;
  font-family: "Jura", sans-serif;
  font-size: 1.4rem;
  display: block;
  border: none;
  padding-top: 0.8rem;
  padding-right: 18px;
  padding-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: auto, auto 40%;
  background-position: 0, 90%;
  background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .teaser-box .cta-btn {
    margin: 0 auto;
    right: calc(50vw - 100px);
    display: inline;
  }
}
.pa-fid .teaser-box .cta-btn img {
  width: 1.4rem;
  margin-top: 0.9rem;
  vertical-align: text-bottom;
}
.pa-fid .content-wrapper-slim {
  margin: 0 auto;
  width: 95%;
  z-index: -1;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim {
    width: 95%;
  }
}
@media only screen and (min-width: 72em) {
  .pa-fid .content-wrapper-slim {
    width: 1152px;
  }
}
.pa-fid .content-wrapper-slim .flex-wrapper {
  width: 100%;
  display: flex;
}
.pa-fid .content-wrapper-slim .gap-filler {
  flex-grow: 1;
  height: 24px;
}
.pa-fid .content-wrapper-slim .gap-filler hr {
  margin-top: 23px;
  border-top: 1px dotted #6b6b6d;
  border-bottom: none;
}
.pa-fid .content-wrapper-slim .info-bar-1 {
  clear: both;
  padding: 45px 0;
  z-index: -1;
}
.pa-fid .content-wrapper-slim .info-bar-1 .col-left, .pa-fid .content-wrapper-slim .info-bar-1 .col-right {
  width: 96%;
}
.pa-fid .content-wrapper-slim .info-bar-1 h2 {
  padding-top: 6px;
  text-align: center;
}
.pa-fid .content-wrapper-slim .info-bar-1 div {
  font-size: 1rem;
  font-weight: bold;
}
.pa-fid .content-wrapper-slim .info-bar-1 .checkmark-wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pa-fid .content-wrapper-slim .info-bar-1 .checkmark-wrapper img {
  width: 60px;
  margin: 10px 15px 0 0;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .info-bar-1 .col-left {
    width: 37.6666666667%;
  }
  .pa-fid .content-wrapper-slim .info-bar-1 .col-right {
    width: 54.3333333333%;
  }
}
.pa-fid .content-wrapper-slim .order-form {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  font-family: "Mulish", sans-serif;
  height: auto;
  background-image: linear-gradient(315deg, transparent 20px, #f4f4f4 20px);
}
.pa-fid .content-wrapper-slim .order-form .top-bar {
  height: 80px;
  padding: 1.2rem 2.8% 0 2.8%;
  background-color: #121230;
}
.pa-fid .content-wrapper-slim .order-form .form-bottom-bar {
  width: 100%;
  margin: 0 0 0 0;
  padding: 10px 20px;
  background-color: transparent;
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .content-wrapper-slim .order-form .form-bottom-bar {
    padding: 30px 10px;
    text-align: center;
  }
}
.pa-fid .content-wrapper-slim .order-form .form-bottom-bar p, .pa-fid .content-wrapper-slim .order-form .form-bottom-bar a {
  color: #6b6b6d;
}
.pa-fid .content-wrapper-slim .order-form .figure-active, .pa-fid .content-wrapper-slim .order-form .figure-inactive {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.4rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.pa-fid .content-wrapper-slim .order-form .figure-active {
  display: inline-block;
  color: #121230;
  background-color: #ffffff;
}
.pa-fid .content-wrapper-slim .order-form .figure-inactive {
  display: none;
  color: #777;
  background-color: #121230;
  border: 1px solid #777;
}
.pa-fid .content-wrapper-slim .order-form .text-inactive {
  display: none;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .order-form .figure-inactive {
    display: inline-block;
  }
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .order-form .text-inactive {
    display: inline-block;
  }
}
.pa-fid .content-wrapper-slim .order-form .breadcrumb span {
  font-size: 1.5rem;
  margin-right: 15px;
}
.pa-fid .content-wrapper-slim .order-form .text-active {
  color: #ffffff;
}
.pa-fid .content-wrapper-slim .order-form .text-inactive {
  color: #777;
}
.pa-fid .content-wrapper-slim .order-form p {
  font-weight: bold;
}
.pa-fid .content-wrapper-slim .order-form p.description {
  margin: 0 0 0 -8px;
}
.pa-fid .content-wrapper-slim .form-content {
  color: #6b6b6d;
  height: auto;
  background-image: linear-gradient(315deg, transparent 20px, #ffffff 20px);
  /* Reset Select */
  /* Remove IE arrow */
  /* Custom Select */
  /* Arrow */
}
.pa-fid .content-wrapper-slim .form-content .form-fields {
  padding: 30px 10px 50px 10px;
  background-color: #f4f4f4;
  position: relative;
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .content-wrapper-slim .form-content .form-fields {
    text-align: center;
  }
}
.pa-fid .content-wrapper-slim .form-content .col-form {
  width: 96%;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .form-content .col-form {
    width: 46%;
  }
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .content-wrapper-slim .form-content .col-form {
    text-align: left;
  }
}
.pa-fid .content-wrapper-slim .form-content .col-form .step-forward-btn, .pa-fid .content-wrapper-slim .form-content .col-form .submit-btn {
  bottom: -25px;
  height: 50px;
  background-color: #4ef4ac;
  color: #ffffff;
  font-family: "Jura", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
  border: none;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  padding-right: 18px;
  position: absolute;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: auto, auto 40%;
  background-position: 0, 97%;
  background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
}
.pa-fid .content-wrapper-slim .form-content .col-form .step-forward-btn {
  width: 200px;
  right: 10%;
  background-position: 0, 90%;
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .content-wrapper-slim .form-content .col-form .step-forward-btn {
    margin: 0 auto;
    right: calc(50vw - 100px);
    display: inline;
  }
}
.pa-fid .content-wrapper-slim .form-content .col-form .submit-btn {
  width: 80%;
  min-width: 330px;
  max-width: 430px;
  right: 5%;
}
@media only screen and (max-width: 33.75em) {
  .pa-fid .content-wrapper-slim .form-content .col-form .submit-btn {
    right: 2%;
  }
}
.pa-fid .content-wrapper-slim .form-content .field-set-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pa-fid .content-wrapper-slim .form-content .field-set-wrapper .field-wrapper.street {
  width: 62%;
}
.pa-fid .content-wrapper-slim .form-content .field-set-wrapper .field-wrapper.number {
  width: 36%;
}
.pa-fid .content-wrapper-slim .form-content .field-set-wrapper .field-wrapper.postcode {
  width: 36%;
}
.pa-fid .content-wrapper-slim .form-content .field-set-wrapper .field-wrapper.location {
  width: 62%;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .form-content .field-set-wrapper {
    width: 93%;
  }
}
.pa-fid .content-wrapper-slim .form-content .field-wrapper.first {
  margin-bottom: 15px;
}
.pa-fid .content-wrapper-slim .form-content .field-wrapper.last {
  padding-bottom: 25px;
  border-bottom: 2px dotted #6b6b6d;
  word-break: break-word;
}
.pa-fid .content-wrapper-slim .form-content .field-wrapper.radio {
  padding-left: 8px;
}
.pa-fid .content-wrapper-slim .form-content .field-wrapper {
  clear: both;
  position: relative;
  margin-bottom: 40px;
}
.pa-fid .content-wrapper-slim .form-content .field-wrapper.field-wrapper-checkbox {
  margin-bottom: 10px;
}
.pa-fid .content-wrapper-slim .form-content .field-wrapper .flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.pa-fid .content-wrapper-slim .form-content .form-indent-wrapper {
  margin-left: 24px;
}
.pa-fid .content-wrapper-slim .form-content .form-indent-wrapper .field-wrapper {
  margin-bottom: 10px;
}
.pa-fid .content-wrapper-slim .form-content .col-form.left p {
  margin-top: -16px;
}
.pa-fid .content-wrapper-slim .form-content .col-form.right {
  margin-top: -20px;
}
.pa-fid .content-wrapper-slim .form-content .col-form.right .apostille-info {
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  background-color: #777777;
  font-size: 0.95rem;
  line-height: 0.85rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.05rem;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid #2b2b2b;
  text-indent: 1px;
}
.pa-fid .content-wrapper-slim .form-content .input-label-wrapper {
  padding: 0 5px 0 0;
}
.pa-fid .content-wrapper-slim .form-content .price-wrapper {
  padding: 0 0 0 5px;
  font-weight: bold;
  width: auto;
  min-width: 130px;
  text-align: right;
}
.pa-fid .content-wrapper-slim .form-content .price-wrapper span {
  font-size: 0.8rem;
}
.pa-fid .content-wrapper-slim .form-content .sum-wrapper h3 {
  margin: 0;
}
.pa-fid .content-wrapper-slim .form-content .sum-text {
  width: 45%;
  float: left;
}
.pa-fid .content-wrapper-slim .form-content .sum-figure {
  text-align: right;
  width: 45%;
  float: right;
}
.pa-fid .content-wrapper-slim .form-content input[type=text] {
  width: 100%;
  height: 44px;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .form-content input[type=text] {
    width: 90%;
  }
}
.pa-fid .content-wrapper-slim .form-content input[type=radio] {
  position: absolute;
  left: -10000px;
}
.pa-fid .content-wrapper-slim .form-content input[type=radio] + label::before {
  margin: -12px 0 10px 0;
  color: #999;
  display: inline-block;
  content: "";
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  transform: translate(-4px, 20px);
}
.pa-fid .content-wrapper-slim .form-content input[type=radio]:checked + label::before {
  margin: -12px 0 10px 0;
  color: #999;
  display: inline-block;
  content: "";
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  background-image: radial-gradient(#d8d8d8 55%, #ffffff 45%);
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  transform: translate(-4px, 20px);
}
.pa-fid .content-wrapper-slim .form-content input[type=checkbox] {
  position: absolute;
  left: -10000px;
}
.pa-fid .content-wrapper-slim .form-content input[type=checkbox] + label::before {
  margin: 2px 2px 5px -24px;
  width: 28px;
  height: 28px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  display: block;
  content: "";
  float: left;
  transform: translate(-2px, -4px);
}
.pa-fid .content-wrapper-slim .form-content input[type=checkbox]:checked + label::before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.89 20.19"><defs><style>.cls-1{fill:%23d8d8d8;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M10.24,20.19.73,10.68A2.5,2.5,0,1,1,4.27,7.15l6,6L22.62.73a2.5,2.5,0,0,1,3.54,3.54Z"/></g></g></svg>');
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pa-fid .content-wrapper-slim .form-content select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background: #ffffff;
}
.pa-fid .content-wrapper-slim .form-content select::-ms-expand {
  display: none;
}
.pa-fid .content-wrapper-slim .form-content .select {
  position: relative;
  display: flex;
  width: 100%;
  height: 44px;
  line-height: 1.4;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .form-content .select {
    width: 90%;
  }
}
.pa-fid .content-wrapper-slim .form-content select {
  flex: 1;
  padding: 0 0.5em;
  color: #6b6b6d;
  cursor: pointer;
  font-size: 1.2rem;
}
.pa-fid .content-wrapper-slim .form-content select option {
  font-family: "Mulish", sans-serif;
}
.pa-fid .content-wrapper-slim .form-content .select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  margin: 4px 4px 0 0;
  height: 36px;
  color: #aaa;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  font-size: 3rem;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.83 15.3"><defs><style>.cls-1{fill:%236d6d6d;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><g id="arrow-down-sign-to-navigate"><path id="Pfad_110" data-name="Pfad 110" class="cls-1" d="M13.42,15.3a1.88,1.88,0,0,1-1.33-.55L.54,3.2A1.88,1.88,0,0,1,3.2.54L13.42,10.76,23.63.54A1.88,1.88,0,0,1,26.29,3.2L14.74,14.75A1.88,1.88,0,0,1,13.42,15.3Z"/></g></g></g></svg>');
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pa-fid .content-wrapper-slim .form-content textarea {
  overflow: auto;
  outline: none;
  resize: vertical;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .form-content textarea {
    width: 90%;
  }
}
.pa-fid .content-wrapper-slim .form-content .label-text-input {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  top: -22px;
  padding: 0 10px;
  margin: 8px 10px;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #f4f4f4 15px, #ffffff 15px);
  z-index: 100;
}
.pa-fid .content-wrapper-slim .form-content .label-radio-input {
  margin-right: 30px;
}
.pa-fid .content-wrapper-slim .form-content .input-label-wrapper {
  padding-left: 24px;
  text-indent: -24px;
}
.pa-fid .content-wrapper-slim .form-content .label-checkbox-input, .pa-fid .content-wrapper-slim .form-content .price-wrapper, .pa-fid .content-wrapper-slim .form-content .price-wrapper span {
  font-size: 0.875rem;
}
.pa-fid .content-wrapper-slim .form-content .label-checkbox-input {
  margin-left: 24px;
}
.pa-fid .content-wrapper-slim .form-content .form-icon {
  display: none;
  width: 22px;
  vertical-align: bottom;
}
.pa-fid .content-wrapper-slim .form-content .gap-filler hr {
  display: none;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .form-content .form-icon {
    display: inline-block;
  }
  .pa-fid .content-wrapper-slim .form-content .gap-filler hr {
    display: block;
  }
  .pa-fid .content-wrapper-slim .form-content .label-checkbox-input {
    font-size: 1rem;
  }
  .pa-fid .content-wrapper-slim .form-content .price-wrapper {
    min-width: 0;
  }
}
.pa-fid .content-wrapper-slim .form-content .step-back-wrapper {
  margin-left: 30px;
}
.pa-fid .content-wrapper-slim .form-content .recaptcha-img {
  width: 50%;
  min-width: 200px;
}
.pa-fid .content-wrapper-slim .info-bar-2 {
  clear: both;
  padding: 45px 0 0 0;
}
.pa-fid .content-wrapper-slim .info-bar-2 .tile-left {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem 1.4rem;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(135deg, #4ef4ac 0%, transparent 99%), linear-gradient(315deg, transparent 20px, #ffffff 20px);
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .info-bar-2 .tile-left {
    width: 48%;
    margin: 0.5rem 2% 0.5rem 0;
  }
}
.pa-fid .content-wrapper-slim .info-bar-2 .tile-right {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem 1.4rem;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(315deg, transparent 20px, #f4f4f4 20px);
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .info-bar-2 .tile-right {
    width: 48%;
    margin: 0.5rem 0 0.5rem 2%;
  }
}
.pa-fid .content-wrapper-slim .info-bar-2 h3 {
  padding-bottom: 0.6rem;
  border-bottom: 2px dotted #6b6b6d;
}
.pa-fid .content-wrapper-slim .info-bar-customers {
  padding: 45px 0 0 0;
}
.pa-fid .content-wrapper-slim .info-bar-customers .customer-logo-header {
  width: 100%;
  margin: 0.5rem 0;
}
.pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.first, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.third, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.fifth {
  margin: 0.5rem 4% 0.5rem 0;
}
.pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.second, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.fourth, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.last {
  margin: 0.5rem 0 0.5rem 4%;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.first, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.fourth {
    margin: 0.5rem 3% 0.5rem 0;
  }
  .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.second, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.fifth {
    margin: 0.5rem 3% 0.5rem 3%;
  }
  .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.third, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.last {
    margin: 0.5rem 0 0.5rem 3%;
  }
}
@media only screen and (min-width: 45em) {
  .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.first {
    margin: 0.5rem 2.4% 0.5rem 0;
  }
  .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.second, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.third, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.fourth, .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.fifth {
    margin: 0.5rem 2.4% 0.5rem 2.4%;
  }
  .pa-fid .content-wrapper-slim .info-bar-customers .row.customer-logos-wrapper .col-customer-logo.last {
    margin: 0.5rem 0 0.5rem 2.4%;
  }
}
.pa-fid .content-wrapper-slim .info-bar-customers .col-customer-logo {
  width: 46%;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .info-bar-customers .col-customer-logo {
    width: 29.3333333333%;
  }
}
@media only screen and (min-width: 45em) {
  .pa-fid .content-wrapper-slim .info-bar-customers .col-customer-logo {
    width: 12.6666666667%;
  }
}
.pa-fid .content-wrapper-slim .info-bar-customers .col-customer-logo .customer-logo {
  width: 100%;
  max-width: 225px;
  max-height: 75px;
  display: block;
  margin: 0 auto;
}
.pa-fid .content-wrapper-slim .bottom-bar {
  height: 1.5rem;
  width: 100%;
  background-color: #121230;
}
.pa-fid .content-wrapper-slim .info-bar-news {
  padding: 45px 0 0 0;
}
.pa-fid .content-wrapper-slim .info-bar-news .col-front-news-header {
  width: 100%;
  margin: 0.5rem 0;
}
.pa-fid .content-wrapper-slim .info-bar-news h2 {
  width: 100%;
}
.pa-fid .content-wrapper-slim .info-bar-news .more-news-link.top {
  background-position: 100% 65%;
  background-repeat: no-repeat;
  background-size: 3%;
  padding-right: 18px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"> <style type="text/css"> .st0{fill:%234ef4ac;} </style> <path class="st0" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/> </svg> ');
  width: 40%;
  float: right;
  cursor: pointer;
  margin-top: 22px;
  text-align: right;
  display: none;
}
.pa-fid .content-wrapper-slim .info-bar-news .more-news-link.bottom {
  background-position: 145px 60%;
  background-repeat: no-repeat;
  background-size: 7%;
  padding-right: 18px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"> <style type="text/css"> .st0{fill:%234ef4ac;} </style> <path class="st0" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/> </svg> ');
  width: 180px;
  cursor: pointer;
  margin: 40px auto 0 auto;
  text-align: center;
  display: block;
}
.pa-fid .content-wrapper-slim .info-bar-news .more-news-link a {
  color: #4ef4ac;
  text-decoration: none;
  font-weight: bold;
}
.pa-fid .content-wrapper-slim .info-bar-news .more-news-link img {
  width: 12px;
  vertical-align: middle;
}
.pa-fid .content-wrapper-slim .info-bar-news .col-front-news {
  width: 96%;
  position: relative;
  height: auto;
  padding-bottom: 20px;
  background-color: #f4f4f4;
}
.pa-fid .content-wrapper-slim .info-bar-news .col-front-news .news-body {
  padding: 0 1.25rem;
}
.pa-fid .content-wrapper-slim .info-bar-news .col-front-news.left {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
.pa-fid .content-wrapper-slim .info-bar-news .col-front-news.center, .pa-fid .content-wrapper-slim .info-bar-news .col-front-news.right {
  display: none;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news.left {
    width: 46%;
    margin: 0.5rem 4% 0.5rem 0;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news.center {
    display: block;
    margin: 0.5rem 0 0.5rem 4%;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news {
    width: 46%;
  }
}
@media only screen and (min-width: 45em) {
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news.left {
    width: 29.3333333333%;
    display: block;
    margin: 0.5rem 3% 0.5rem 0;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news.center {
    display: block;
    margin: 0.5rem 3% 0.5rem 3%;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news.right {
    display: block;
    margin: 0.5rem 0 0.5rem 3%;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .col-front-news {
    width: 29.3333333333%;
  }
  .pa-fid .content-wrapper-slim .info-bar-news h2 {
    width: 60%;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .more-news-link.top {
    display: block;
  }
  .pa-fid .content-wrapper-slim .info-bar-news .more-news-link.bottom {
    display: none;
  }
}
.pa-fid .content-wrapper-slim .info-bar-news h3 {
  margin-bottom: 0;
  height: calc(2 * 1.5rem);
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pa-fid .content-wrapper-slim .info-bar-news .col-news {
  background-color: #f4f4f4;
  margin-bottom: 48px;
}
.pa-fid .content-wrapper-slim .info-bar-news .top-bar {
  width: 100%;
  height: 0.3rem;
  background-color: #2b2b2b;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body {
  padding: 0;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body .news-date-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  background-color: transparent;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body .news-date-wrapper .news-date {
  float: left;
  width: auto;
  height: 2rem;
  color: #4ef4ac;
  margin-top: 0;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body .news-date-wrapper .news-date p {
  color: #4ef4ac;
  font-weight: 700;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body .news-date-wrapper .gap-filler {
  margin-top: 15px;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body .news-date-wrapper .news-dotted-line {
  float: right;
  width: calc(75% - 1.25rem);
  height: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  font-weight: 700;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-body .news-text {
  clear: both;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pa-fid .content-wrapper-slim .info-bar-news .news-btn {
  background-color: #4ef4ac;
  padding-right: 24px;
  color: #ffffff;
  border: none;
  width: 110px;
  height: 36px;
  position: absolute;
  right: 30px;
  bottom: -18px;
  padding-bottom: 0.3rem;
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
  background-repeat: no-repeat;
  background-size: auto, auto 40%;
  background-position: 0, 82%;
  background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment {
  margin: 65px 0 0 0;
  padding-bottom: 30px;
  background-color: #f4f4f4;
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .col-ssl {
  width: 96%;
  margin: 0 2%;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .info-bar-ssl-payment .col-ssl {
    width: 46%;
  }
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper {
  display: block;
  height: auto;
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper p {
  width: 96%;
  height: auto;
  padding: 2%;
  float: none;
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper p img {
  width: 40%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
  float: none;
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper h3 {
  width: 96%;
  padding: 4% 2%;
  text-align: center;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper h3 {
    width: 80%;
    float: right;
    padding: 7% 2%;
    text-align: left;
  }
  .pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper p {
    width: 20%;
    float: left;
  }
  .pa-fid .content-wrapper-slim .info-bar-ssl-payment .ssl-wrapper p img {
    display: block;
    width: 98%;
    float: left;
    margin: 0;
  }
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .payment-header {
  margin: 20px 0 0.5rem 0.75rem;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .info-bar-ssl-payment .payment-header {
    margin: 50px 0 0.5rem 0.75rem;
  }
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .col-payment {
  width: 12.6666666667%;
  /*
  Remove comment if payment logos should behave responsive

  width: ($width / 2) - ($gutter * 6 / 12);

  @media only screen and (min-width: $breakpoint-small) {
    width: ($width / 3) - ($gutter * 8 / 12);
  }

  @media only screen and (min-width: $breakpoint-med) {
    width: ($width / 6) - ($gutter * 10 / 12);
  }*/
}
.pa-fid .content-wrapper-slim .info-bar-ssl-payment .payment-logo {
  width: 100%;
}
.pa-fid .content-wrapper-slim .footer {
  margin: 45px 0;
}
.pa-fid .content-wrapper-slim .footer h3 {
  padding-bottom: 0.6rem;
  border-bottom: 2px dotted #6b6b6d;
}
.pa-fid .content-wrapper-slim .footer .contact-table {
  margin-top: 30px;
  display: table;
}
.pa-fid .content-wrapper-slim .footer .contact-table .contact-row {
  display: table-row;
}
.pa-fid .content-wrapper-slim .footer .contact-table .contact-row .contact-cell {
  display: table-cell;
  padding-right: 0.75rem;
  font-size: 0.85rem;
  font-weight: 400;
}
.pa-fid .content-wrapper-slim .footer .contact-table .contact-row .contact-cell a {
  font-size: 0.85rem;
  font-weight: 400;
  text-decoration: underline;
}
.pa-fid .content-wrapper-slim .footer .col-footer {
  width: 96%;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim .footer .col-footer.center, .pa-fid .content-wrapper-slim .footer .col-footer.right {
    width: 46%;
  }
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim .footer .col-footer.left, .pa-fid .content-wrapper-slim .footer .col-footer.center, .pa-fid .content-wrapper-slim .footer .col-footer.right {
    width: 29.3333333333%;
  }
}
.pa-fid .content-wrapper-slim .footer .col-footer p {
  margin: 0.15rem 0;
  font-size: 0.85rem;
}
.pa-fid .content-wrapper-wide {
  width: 100%;
  background-color: #f4f4f4;
}
.pa-fid .content-wrapper-wide.eagle-bg {
  background: url("../img/eagle-bg-left.png") right top no-repeat, url("../img/eagle-bg-right.png") left top no-repeat;
  background-size: 380px 710px;
}
.pa-fid .info-block-news .top-bar {
  width: 100%;
  height: 0.3rem;
  background-color: #2b2b2b;
}
.pa-fid .info-block-news .news-header {
  margin: 1.75rem 0;
}
.pa-fid .info-block-news .news-body-single .news-header {
  margin: 1.75rem 0 0.25rem 0;
}
.pa-fid .info-block-news .col-news {
  background-color: #f4f4f4;
  margin-bottom: 48px;
  width: 96%;
  position: relative;
  height: auto;
  padding-bottom: 20px;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .info-block-news .col-news {
    width: 46%;
  }
}
@media only screen and (min-width: 60em) {
  .pa-fid .info-block-news .col-news {
    width: 29.3333333333%;
  }
}
.pa-fid .info-block-news h3 {
  margin-bottom: 0;
  height: calc(2 * 1.5rem);
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.pa-fid .info-block-news .news-body {
  padding: 0 1.25rem;
}
.pa-fid .info-block-news .news-body.news-body-single {
  padding: 0;
}
.pa-fid .info-block-news .news-body .news-date-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  background-color: transparent;
}
.pa-fid .info-block-news .news-body .news-date-wrapper .news-date {
  float: left;
  width: auto;
  height: 2rem;
  color: #4ef4ac;
  margin-top: 0;
}
.pa-fid .info-block-news .news-body .news-date-wrapper .news-date p {
  color: #4ef4ac;
  font-weight: 700;
}
.pa-fid .info-block-news .news-body .news-date-wrapper .gap-filler {
  margin-top: 15px;
}
.pa-fid .info-block-news .news-body .news-date-wrapper .gap-filler hr {
  margin-top: 18px;
}
.pa-fid .info-block-news .news-body .news-date-wrapper .news-dotted-line {
  float: right;
  width: calc(75% - 1.25rem);
  height: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  font-weight: 700;
}
.pa-fid .info-block-news .news-btn, .pa-fid .info-block-news .news-back-btn {
  background-color: #4ef4ac;
  color: #ffffff;
  border: none;
  width: 120px;
  height: 36px;
  padding-bottom: 0.3rem;
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
}
.pa-fid .info-block-news .news-btn a, .pa-fid .info-block-news .news-back-btn a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
.pa-fid .info-block-news .news-btn img, .pa-fid .info-block-news .news-back-btn img {
  width: 14px;
}
.pa-fid .info-block-news .news-btn, .pa-fid .info-block-news .news-back-btn {
  position: absolute;
  right: 30px;
  bottom: -18px;
  background-repeat: no-repeat;
  background-size: auto, auto 40%;
  background-position: 0, 90%;
  padding-right: 18px;
  background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
}
.pa-fid .info-block-news .news-back-btn {
  position: relative;
  right: initial;
  background-position: 0, 15%;
  background-image: linear-gradient(45deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="enable-background:new 0 0 25 25;" viewBox="0 0 25 25" y="0px" x="0px"><style id="style2" type="text/css"> .st0{fill:%23FFFFFF;} </style><path style="fill:%23ffffff" id="path4" d="m 1.6,12.1 c -0.1,0.1 -0.1,0.3 -0.1,0.4 0,0.1 0,0.3 0.1,0.4 0.1,0.1 0.1,0.2 0.2,0.3 l 10,10 c 0.4,0.4 1,0.4 1.4,0 0.4,-0.4 0.4,-1 0,-1.4 l -8.3,-8.3 17.6,0 c 0.6,0 1,-0.4 1,-1 0,-0.6 -0.4,-1 -1,-1 l -17.6,0 8.3,-8.3 c 0.4,-0.4 0.4,-1 0,-1.4 C 13,1.6 12.7,1.5 12.5,1.5 12.3,1.5 12,1.6 11.8,1.8 l -10,10 c 0,0 0,0 0,0 -0.1,0.1 -0.2,0.2 -0.2,0.3 z" class="st0" /> </svg>');
  margin-bottom: 30px;
  padding-left: 38px;
}
.pa-fid .info-block-news .news-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto 0 auto;
}
@media only screen and (min-width: 60em) {
  .pa-fid .info-block-news .news-pagination {
    width: 60%;
  }
}
@media only screen and (min-width: 60em) {
  .pa-fid .info-block-news .news-pagination {
    width: 40%;
  }
}
.pa-fid .info-block-news .news-pagination a, .pa-fid .info-block-news .news-pagination span {
  font-size: 1.25rem;
  text-decoration: none;
}
.pa-fid .info-block-news .news-pagination a.link-active, .pa-fid .info-block-news .news-pagination a:hover {
  color: #4ef4ac;
}
.pa-fid .info-block-news .news-pagination .pagination-arrow {
  width: 20px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center 60%;
}
.pa-fid .info-block-news .news-pagination .pagination-arrow.left {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="enable-background:new 0 0 25 25;" viewBox="0 0 25 25" y="0px" x="0px"><style id="style2" type="text/css"> .st0{fill:%23FFFFFF;} </style><path style="fill:%232b2b2b" id="path4" d="m 1.6,12.1 c -0.1,0.1 -0.1,0.3 -0.1,0.4 0,0.1 0,0.3 0.1,0.4 0.1,0.1 0.1,0.2 0.2,0.3 l 10,10 c 0.4,0.4 1,0.4 1.4,0 0.4,-0.4 0.4,-1 0,-1.4 l -8.3,-8.3 17.6,0 c 0.6,0 1,-0.4 1,-1 0,-0.6 -0.4,-1 -1,-1 l -17.6,0 8.3,-8.3 c 0.4,-0.4 0.4,-1 0,-1.4 C 13,1.6 12.7,1.5 12.5,1.5 12.3,1.5 12,1.6 11.8,1.8 l -10,10 c 0,0 0,0 0,0 -0.1,0.1 -0.2,0.2 -0.2,0.3 z" class="st0" /> </svg>');
}
.pa-fid .info-block-news .news-pagination .pagination-arrow.left:hover {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="enable-background:new 0 0 25 25;" viewBox="0 0 25 25" y="0px" x="0px"><style id="style2" type="text/css"> .st0{fill:%23FFFFFF;} </style><path style="fill:%234ef4ac" id="path4" d="m 1.6,12.1 c -0.1,0.1 -0.1,0.3 -0.1,0.4 0,0.1 0,0.3 0.1,0.4 0.1,0.1 0.1,0.2 0.2,0.3 l 10,10 c 0.4,0.4 1,0.4 1.4,0 0.4,-0.4 0.4,-1 0,-1.4 l -8.3,-8.3 17.6,0 c 0.6,0 1,-0.4 1,-1 0,-0.6 -0.4,-1 -1,-1 l -17.6,0 8.3,-8.3 c 0.4,-0.4 0.4,-1 0,-1.4 C 13,1.6 12.7,1.5 12.5,1.5 12.3,1.5 12,1.6 11.8,1.8 l -10,10 c 0,0 0,0 0,0 -0.1,0.1 -0.2,0.2 -0.2,0.3 z" class="st0" /> </svg>');
}
.pa-fid .info-block-news .news-pagination .pagination-arrow.right {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="%232b2b2b" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
}
.pa-fid .info-block-news .news-pagination .pagination-arrow.right:hover {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="%234ef4ac" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
}
.pa-fid .content-wrapper-slim.example {
  margin-top: 0;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim.example {
    margin-top: 75px;
  }
}
.pa-fid .content-wrapper-slim.example .head-tags-wrapper {
  padding-top: 160px;
}
@media only screen and (min-width: 60em) {
  .pa-fid .content-wrapper-slim.example .head-tags-wrapper {
    padding-top: 0;
  }
}
.pa-fid .content-wrapper-slim.example h1, .pa-fid .content-wrapper-slim.example h2, .pa-fid .content-wrapper-slim.example h3, .pa-fid .content-wrapper-slim.example .sub-headline {
  color: #121230;
  width: 100%;
  text-align: left;
  line-height: 2.25rem;
}
.pa-fid .content-wrapper-slim.example .sub-headline {
  color: #4ef4ac;
  width: 100%;
  text-align: left;
  font-size: 1.0625rem;
}
.pa-fid .content-wrapper-slim.example .color-examples, .pa-fid .content-wrapper-slim.example .text-examples, .pa-fid .content-wrapper-slim.example .order-form {
  margin-bottom: 100px;
}
.pa-fid .content-wrapper-slim.example .col-color-example {
  font-weight: 700;
  height: 150px;
  padding: 15px;
  width: 46%;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim.example .col-color-example {
    width: 29.3333333333%;
  }
}
.pa-fid .content-wrapper-slim.example .col-color-example.color-1 {
  background-color: #121230;
  color: #ffffff;
}
.pa-fid .content-wrapper-slim.example .col-color-example.color-2 {
  background-color: #4ef4ac;
  color: #121230;
}
.pa-fid .content-wrapper-slim.example .col-color-example.color-3 {
  background-color: #e88624;
  color: #ffffff;
}
.pa-fid .content-wrapper-slim.example .col-color-example.color-4 {
  background-color: #2b2b2b;
  color: #ffffff;
}
.pa-fid .content-wrapper-slim.example .col-color-example.color-5 {
  background-color: #dddddd;
  color: #ffffff;
}
.pa-fid .content-wrapper-slim.example .col-color-example.color-6 {
  background-color: #f4f4f4;
  color: #121230;
}
.pa-fid .content-wrapper-slim.example .col-accordion {
  width: 96%;
}
.pa-fid .content-wrapper-slim.example .row-accordion {
  color: #121230;
  background: #ffffff;
  padding: 0 0 1rem 0;
}
.pa-fid .content-wrapper-slim.example .row-accordion h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
.pa-fid .content-wrapper-slim.example .row-accordion h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}
.pa-fid .content-wrapper-slim.example .row-accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tabs {
  overflow: hidden;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tabs:last-child {
  border-bottom: 1px dotted #6b6b6d;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab {
  width: 100%;
  color: #2b2b2b;
  border-top: 1px dotted #6b6b6d;
  overflow: hidden;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab-label:hover {
  background: #e6e6e6;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab-label::after {
  content: "";
  width: 1rem;
  height: 1.4rem;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.9 20.9"><defs><style>.cls-1{fill:%234ef4ac;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M11.94,11.94h7.77a1.19,1.19,0,0,0,1.19-1.19v-.6A1.19,1.19,0,0,0,19.71,9H11.94V1.19A1.19,1.19,0,0,0,10.75,0h-.6A1.19,1.19,0,0,0,9,1.19V9H1.19A1.19,1.19,0,0,0,0,10.15v.6a1.19,1.19,0,0,0,1.19,1.19H9v7.77a1.19,1.19,0,0,0,1.19,1.19h.6a1.19,1.19,0,0,0,1.19-1.19Z"/></g></g></svg>');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2b2b2b;
  background: #ffffff;
  transition: all 0.35s;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ffffff;
  cursor: pointer;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab-close:hover {
  background: #e6e6e6;
}
.pa-fid .content-wrapper-slim.example .row-accordion .tab .tab-col {
  max-height: 0;
  width: 100%;
  float: left;
  padding: 0 10px 0 0;
}
@media only screen and (min-width: 33.75em) {
  .pa-fid .content-wrapper-slim.example .row-accordion .tab .tab-col {
    width: 50%;
  }
}
.pa-fid .content-wrapper-slim.example .row-accordion input:checked + .tab-label {
  background: #e6e6e6;
}
.pa-fid .content-wrapper-slim.example .row-accordion input:checked + .tab-label::after {
  content: "";
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.9 2.99"><defs><style>.cls-1{fill:%232b2b2b;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M11.94,3h7.77a1.19,1.19,0,0,0,1.19-1.2v-.6A1.19,1.19,0,0,0,19.71,0H1.19A1.19,1.19,0,0,0,0,1.19v.6A1.19,1.19,0,0,0,1.19,3H11.94Z"/></g></g></svg>');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pa-fid .content-wrapper-slim.example .row-accordion input:checked ~ .tab-content {
  max-height: 300vh;
  height: auto;
  padding: 1em;
}
.pa-fid .content-wrapper-slim.example .row-accordion input:checked ~ .tab-content .tab-col {
  max-height: 300vh;
  padding: 0 10px 15px 0;
}

/*# sourceMappingURL=theme.css.map */
