@import '_variables.scss';
@import '_fonts.scss';
@import '_grid.scss';

body.pa-fid {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: $font-family-paras;
  background-color: $white;
  hyphens: auto;
  overflow-x: hidden;
}

.pa-fid {

  * {
    box-sizing: border-box;
    line-height: $line-height;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headers;
  }

  h1, h2, h3 {
    font-weight: 700;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5625rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  a {
    color: $grey-dark;
  }

  p {
    font-family: $font-family-paras;
    font-weight: 400;
  }

  strong {
    font-variant: normal;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  .visible-large {
    display: none;

    @media only screen and (min-width: $breakpoint-large) {
      display: block;
    }
  }

  .hidden-large {
    display: block;

    @media only screen and (min-width: $breakpoint-large) {
      display: none;
    }
  }

  .header-wrapper {
    position: fixed;
    width: 100%;
    height: $nav-bar-height-slim;
    z-index: 999;
    filter: drop-shadow(0px 4px 4px $grey-drop-shadow);

    @media only screen and (min-width: $breakpoint-large) {
      position: sticky;
      top: -60px;
      height: $nav-bar-height;
    }

    .top-bar {
      height: 1.5rem;
      width: 100%;
      background-color: $dark-blue;
    }

    .nav-bar {
      width: 100%;
      height: $nav-bar-height-slim;
      background-color: $white;

      @media only screen and (min-width: $breakpoint-large) {
        height: $nav-bar-height;
      }

      .cols-wrapper {
        position: sticky;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media only screen and (min-width: $breakpoint-x-large) {
          width: 1152px;
        }
      }
    }

    .col-name-logo {
      margin: 0;
      float: left;
      width: auto;
      height: auto;

      img {
        width: 140px;
        display: block;
        float: right;
        margin: 28px 20px 0 20px;

        @media only screen and (min-width: $breakpoint-large) {
          width: 170px;
          margin: 55px 20px 0 20px;
        }
      }
    }

    .col-navigation {
      margin: 0;
      flex-grow: 1;
      height: 100px;

      @media only screen and (min-width: $breakpoint-large) {
        display: block;
        top: 30px;
        position: relative;
      }

      ul {
        list-style-type: none;
        width: 590px;
        height: 74px;
        margin: 36px auto 0 auto;
        display: none;

        @media only screen and (min-width: $breakpoint-large) {
          display: block;
        }
      }

      li {
        float: left;
        padding: 8px 16px;
        height: 56px;

        a {
          display: inline-block;
          height: 56px;
          font-family: $font-family-headers;
          font-size: 1.25rem;
          font-weight: 500;
          letter-spacing: 0.15rem;
          text-decoration: none;
          padding-bottom: 32px;
          text-transform: uppercase;

          &:hover, &.link-active {
            color: $green;
          }
        }

        a.link-active {
          padding-bottom: 24px;
          border-bottom: 8px $green solid;
        }
      }
    }

    .col-shopping-cart {
      margin: 0 15px;
      min-width: 60px;
      height: 70px;
      width: auto;
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 25" style="enable-background:new 0 0 32 25;" xml:space="preserve"><style type="text/css">.st0{fill:%23cdcdcd;}</style><path class="st0" d="M31.8,6c-0.2-0.2-0.5-0.4-0.8-0.4H8.1l-0.8-4L7.2,1.2l0,0C7.2,1.1,7.1,1,7,0.9c0,0,0-0.1-0.1-0.1 c0-0.1,0-0.1-0.1-0.2c0,0-0.1,0-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1H6.4H6.3H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h4.4l3.7,18.1 c0.1,0.5,0.5,0.8,1,0.8h0.4c-0.1,0.2-0.1,0.4-0.1,0.6c0,1.5,1.2,2.6,2.6,2.6s2.6-1.2,2.6-2.6c0-0.2,0-0.4-0.1-0.6h7.3 c-0.1,0.2-0.1,0.4-0.1,0.6c0,1.5,1.2,2.6,2.6,2.6s2.6-1.2,2.6-2.6c0-0.2,0-0.4-0.1-0.6h0.4c0.6,0,1-0.4,1-1s-0.4-1-1-1H10.9L10.6,18 H29c0.5,0,0.9-0.3,1-0.8l2-10.4C32,6.5,32,6.2,31.8,6z M29.2,10.8h-3.3l0.2-3.2h3.7L29.2,10.8z M14.8,12.8h3.5V16H15L14.8,12.8z M13,16.1h-2.7l-0.7-3.2h3.2L13,16.1z M14.7,10.8l-0.2-3.2h3.8v3.2H14.7z M20.3,12.8h3.5L23.6,16h-3.3V12.8z M20.3,10.8V7.6h3.8 l-0.2,3.2H20.3z M12.5,7.6l0.2,3.2H9.2L8.5,7.6H12.5z M13.7,22c0,0.3-0.3,0.6-0.6,0.6s-0.6-0.3-0.6-0.6s0.3-0.6,0.6-0.6 S13.7,21.6,13.7,22z M26.1,22c0,0.3-0.3,0.6-0.6,0.6s-0.6-0.3-0.6-0.6s0.3-0.6,0.6-0.6S26.1,21.6,26.1,22z M25.5,16.1l0.2-3.2h3.1 l-0.6,3.2H25.5z"/></svg>');
      background-size: 60% 60%;
      background-position: center bottom;
      background-repeat: no-repeat;

      @media only screen and (min-width: $breakpoint-large) {
        height: $nav-bar-height;
      }

      img {
        width: 30px;
        margin: 36px auto 0 auto;
        display: block;

        @media only screen and (min-width: $breakpoint-large) {
          width: 50px;
          margin: 30px auto 0 auto;
        }
      }
    }

    .col-mobile-menu {
      margin: 0;
      min-width: 70px;
      width: auto;
      height: auto;

      #menuToggle {
        display: block;
        position: relative;
        top: 38px;
        right: 20px;
        z-index: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        a {
          font-family: $font-family-headers;
          text-decoration: none;
          color: #232323;
          text-transform: uppercase;
          -webkit-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          transition: color 0.3s ease;

          &.link-active {
            color: $green;
          }
        }

        a:hover {
          color: $green;
        }

        input {
          display: block;
          width: 70px;
          height: 30px;
          position: absolute;
          top: -7px;
          left: -5px;
          padding: 0;
          cursor: pointer;
          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */
          -webkit-touch-callout: none;
        }

        label.toggle-menu-open {
          position: relative;
          display: block;
          width: 100%;
          height: 24px;
          z-index: 1;
          background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 21"><defs><style>.cls-1{fill:%23cdcdcd;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><rect id="Rechteck_136" data-name="Rechteck 136" class="cls-1" width="35" height="5" rx="2"/><rect id="Rechteck_137" data-name="Rechteck 137" class="cls-1" y="8" width="35" height="5" rx="2"/><rect id="Rechteck_138" data-name="Rechteck 138" class="cls-1" y="16" width="35" height="5" rx="2"/></g></g></svg>');
          background-size: 75% 75%;
          background-position: center center;
          background-repeat: no-repeat;
        }

        label.toggle-menu-close {
          position: relative;
          padding-left: 22px;
          display: block;
          width: 100%;
          height: 24px;
          z-index: 1;
          font-size: 2.5rem;
          font-weight: bold;
          background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.63 26.63"><defs><style>.cls-1{fill:%23cdcdcd;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M16.85,13.31,26,4.12a2,2,0,0,0,0-2.83l-.71-.7a2,2,0,0,0-2.82,0l-9.2,9.19L4.12.59a2,2,0,0,0-2.83,0l-.7.7a2,2,0,0,0,0,2.83l9.19,9.19L.59,22.51a2,2,0,0,0,0,2.82l.7.71a2,2,0,0,0,2.83,0l9.19-9.19L22.51,26a2,2,0,0,0,2.82,0l.71-.71a2,2,0,0,0,0-2.82Z"/></g></g></svg>');
          background-size: 75% 75%;
          background-position: center center;
          background-repeat: no-repeat;
        }

        label div {
          display: block;
          width: 32px;
          height: 3px;
          margin: 0 auto 6px auto;
          background: #cdcdcd;
          border-radius: 3px;
          z-index: 1;
        }

        @media only screen and (min-width: $breakpoint-large) {
          label, input {
            display: none;
          }
        }

        input:checked + label div {
          background: #232323;
        }
      }

      #menu {
        display: block;
        position: absolute;
        width: 100vw;
        margin: -100px 0 0 0;
        padding: 50px;
        background: #ededed;
        list-style-type: none;
        right: -5000px;
        -webkit-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
      }

      #menu li {
        padding: 10px 0;
        font-size: 22px;
      }

      #menuToggle input:not(:checked) ~ .toggle-menu-open {
        display: block;

        @media only screen and (min-width: $breakpoint-large) {
          display: none;
        }
      }

      #menuToggle input:not(:checked) ~ .toggle-menu-close {
        display: none;

        @media only screen and (min-width: $breakpoint-large) {
          display: none;
        }
      }

      #menuToggle input:checked ~ .toggle-menu-open {
        display: none;

        @media only screen and (min-width: $breakpoint-large) {
          display: none;
        }
      }

      #menuToggle input:checked ~ .toggle-menu-close {
        display: block;

        @media only screen and (min-width: $breakpoint-large) {
          display: none;
        }
      }

      #menuToggle input:checked ~ #menu {
        right: 0;

        @media only screen and (min-width: 340px) {
          right: -20px;
        }

        @media only screen and (min-width: $breakpoint-large) {
          right: -5000px;
        }
      }
    }
  }

  .teaser-image, .teaser-image-slim {
    background-image: url("../img/stock-image.jpeg");
    background-size: cover;
    background-position: center center;
    background-color: $white;
    width: 100%;
    position: relative;

    .teaser-gradient {
      background-image: linear-gradient(to top, $white, transparent);
      height: $teaser-height;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.65;
    }
  }

  .teaser-image {
    height: $teaser-height;
  }

  .teaser-image-slim {
    height: $teaser-height-slim;
  }

  .teaser-box {
    position: relative;
    margin: -$teaser-height/2 auto 0 auto;
    width: 95%;
    height: auto;
    @include clipCorner(315deg, transparent, 20px, $white, 20px);
    filter: drop-shadow(0px 0px 4px $grey-drop-shadow);

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 1152px;
    }

    .top-bar {
      height: $box-top-bar-height;
      padding: 0.3rem 0 0 3%;
      background-color: $dark-blue;

      .headline {
        color: $white;
        margin: 25px 0 0 4px;
        font-size: 1.5rem;
        text-align: left;
      }

      .sub-headline {
        color: $green;
        padding-top: 0.2rem;
        margin: 0 0 0 4px;
        font-family: $font-family-headers;
        font-weight: bold;
        font-size: 0.85rem;
        text-align: left;
      }

      @media only screen and (min-width: $breakpoint-small) {
        .headline {
          font-size: 2rem;
          margin: 35px 0 0 0;
        }

        .sub-headline {
          font-size: 1.0625rem;
          margin: 0;
        }
      }

      @media only screen and (min-width: $breakpoint-med) {
        padding: 0.3rem 0 0 2%;
      }

      .logo-wrapper {
        width: 20%;
        float: right;
        color: $white;
        display: none;

        @media only screen and (min-width: $breakpoint-med) {
          display: block;
        }

        img {
          width: 80px;
          display: block;
          margin: 30px auto;
        }
      }
    }

    .col-6 {
      margin: 0.5rem 3%;

      @media only screen and (min-width: $breakpoint-med) {
        margin: 0.5rem 2%;
      }
    }

    a {
      text-decoration: none;
    }

    .cta-wrapper {
      @media only screen and (max-width: $breakpoint-small) {
        text-align: center;
      }

    }

    .cta-btn {
      width: 300px;
      height: 50px;
      background-color: $green;
      color: $white;
      font-family: "Jura", sans-serif;
      font-size: 1.4rem;
      display: block;
      border: none;
      padding-top: 0.8rem;
      padding-right: 18px;
      padding-bottom: 1rem;
      background-repeat: no-repeat;
      background-size: auto, auto 40%;
      background-position: 0, 90%;
      background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');

      @media only screen and (max-width: $breakpoint-small) {
        margin: 0 auto;
        right: calc(50vw - 100px);
        display: inline;
      }

      img {
        width: 1.4rem;
        margin-top: 0.9rem;
        vertical-align: text-bottom;
      }
    }
  }

  .content-wrapper-slim {
    margin: 0 auto;
    width: 95%;
    z-index: -1;

    @media only screen and (min-width: $breakpoint-small) {
      width: 95%;
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 1152px;
    }

    .flex-wrapper {
      width: 100%;
      display: flex;
    }

    .gap-filler {
      flex-grow: 1;
      height: 24px;

      hr {
        margin-top: 23px;
        border-top: 1px dotted $grey-medium;
        border-bottom: none;
      }
    }

    .info-bar-1 {
      clear: both;
      padding: 45px 0;
      z-index: -1;

      .col-left, .col-right {
        width: $width;
      }

      h2 {
        padding-top: 6px;
        text-align: center;
      }

      div {
        font-size: 1rem;
        font-weight: bold;
      }

      .checkmark-wrapper {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60px;
          margin: 10px 15px 0 0;
        }
      }

      @media only screen and (min-width: $breakpoint-large) {
        .col-left {
          width: ($width / (12 / 5)) - ($gutter * 7 / 12);
        }

        .col-right {
          width: ($width / (12 / 7)) - ($gutter * 5 / 12);
        }
      }
    }


    .order-form {
      filter: drop-shadow(0px 0px 4px $grey-drop-shadow);
      font-family: $font-family-paras;
      height: auto;
      @include clipCorner(315deg, transparent, 20px, $grey-light, 20px);

      .top-bar {
        height: 80px;
        padding: 1.2rem 2.8% 0 2.8%;
        background-color: $dark-blue;
      }

      .form-bottom-bar {
        width: 100%;
        margin: 0 0 0 0;
        padding: 10px 20px;
        background-color: transparent;

        @media only screen and (max-width: $breakpoint-small) {
          padding: 30px 10px;
          text-align: center;
        }

        p, a {
          color: $grey-medium;
        }
      }

      .figure-active, .figure-inactive {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding-top: 0.4rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .figure-active {
        display: inline-block;
        color: $dark-blue;
        background-color: $white;
      }

      .figure-inactive {
        display: none;
        color: #777;
        background-color: $dark-blue;
        border: 1px solid #777;
      }

      .text-inactive {
        display: none;
      }

      @media only screen and (min-width: $breakpoint-small) {
        .figure-inactive {
          display: inline-block;
        }
      }

      @media only screen and (min-width: $breakpoint-large) {
        .text-inactive {
          display: inline-block;
        }
      }

      .breadcrumb span {
        font-size: 1.5rem;
        margin-right: 15px;
      }

      .text-active {
        color: $white;
      }

      .text-inactive {
        color: #777;
      }

      p {
        font-weight: bold;

        &.description {
          margin: 0 0 0 -8px;
        }
      }
    }

    .form-content {
      color: $grey-medium;
      height: auto;
      background-image: linear-gradient(315deg, transparent 20px, $white 20px);

      .form-fields {
        padding: 30px 10px 50px 10px;
        background-color: $grey-light;
        position: relative;

        @media only screen and (max-width: $breakpoint-small) {
          text-align: center;
        }
      }

      .col-form {
        width: $width;

        @media only screen and (min-width: $breakpoint-large) {
          width: ($width / 2) - ($gutter * 6 / 12);
        }

        @media only screen and (max-width: $breakpoint-small) {
          text-align: left;
        }

        .step-forward-btn, .submit-btn {
          bottom: -25px;
          height: 50px;
          background-color: $green;
          color: $white;
          font-family: $font-family-headers;
          font-size: 1.4rem;
          font-weight: bold;
          cursor: pointer;
          display: block;
          border: none;
          padding-top: 0.8rem;
          padding-bottom: 1rem;
          padding-right: 18px;
          position: absolute;
          z-index: 100;
          background-repeat: no-repeat;
          background-size: auto, auto 40%;
          background-position: 0, 97%;
          background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
        }

        .step-forward-btn {
          width: 200px;
          right: 10%;
          background-position: 0, 90%;

          @media only screen and (max-width: $breakpoint-small) {
            margin: 0 auto;
            right: calc(50vw - 100px);
            display: inline;
          }

        }

        .submit-btn {
          width: 80%;
          min-width: 330px;
          max-width: 430px;
          right: 5%;

          @media only screen and (max-width: $breakpoint-small) {
            right: 2%;
          }
        }
      }

      .field-set-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .field-wrapper.street {
          width: 62%;
        }

        .field-wrapper.number {
          width: 36%;
        }

        .field-wrapper.postcode {
          width: 36%;
        }

        .field-wrapper.location {
          width: 62%;
        }

        @media only screen and (min-width: $breakpoint-large) {
          width: 93%;
        }
      }

      .field-wrapper.first {
        margin-bottom: 15px;
      }

      .field-wrapper.last {
        padding-bottom: 25px;
        border-bottom: 2px dotted $grey-medium;
        word-break: break-word;
      }

      .field-wrapper.radio {
        padding-left: 8px;
      }

      .field-wrapper {
        clear: both;
        position: relative;
        margin-bottom: 40px;

        &.field-wrapper-checkbox {
          margin-bottom: 10px;
        }

        .flex-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
        }
      }

      .form-indent-wrapper {
        margin-left: 24px;

        .field-wrapper {
          margin-bottom: 10px;
        }
      }

      .col-form.left p {
        margin-top: -16px
      }

      .col-form.right {
        margin-top: -20px;

        .apostille-info {
          display: inline-block;
          cursor: pointer;
          color: $white;
          background-color: #777777;
          font-size: 0.95rem;
          line-height: 0.85rem;
          font-weight: bold;
          text-align: center;
          padding-top: 0.05rem;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          border: 1px solid $grey-dark;
          text-indent: 1px;
        }
      }

      .input-label-wrapper {
        padding: 0 5px 0 0;
      }

      .price-wrapper {
        padding: 0 0 0 5px;
        font-weight: bold;
        width: auto;
        min-width: 130px;
        text-align: right;

        span {
          font-size: 0.8rem;
        }
      }

      .sum-wrapper h3 {
        margin: 0;
      }

      .sum-text {
        width: 45%;
        float: left;
      }

      .sum-figure {
        text-align: right;
        width: 45%;
        float: right;
      }

      input[type=text] {
        width: 100%;
        height: 44px;
        padding: 10px;
        border: 1px solid $grey-border;
        border-radius: 5px;
        color: black;
        font-size: 1.2rem;

        @media only screen and (min-width: $breakpoint-large) {
          width: 90%;
        }
      }

      input[type="radio"] {
        position: absolute;
        left: -10000px;
      }

      input[type="radio"] + label::before {
        margin: -12px 0 10px 0;
        color: #999;
        display: inline-block;
        content: "";
        width: 28px;
        height: 28px;
        background-color: white;
        border-radius: 50%;
        border: 1px solid $grey-border;
        transform: translate(-4px, 20px);
      }

      input[type="radio"]:checked + label::before {
        margin: -12px 0 10px 0;
        color: #999;
        display: inline-block;
        content: "";
        width: 28px;
        height: 28px;
        background-color: $white;
        background-image: radial-gradient($grey-border 55%, $white 45%);
        border-radius: 50%;
        border: 1px solid $grey-border;
        transform: translate(-4px, 20px);
      }

      input[type="checkbox"] {
        position: absolute;
        left: -10000px;
      }

      input[type="checkbox"] + label::before {
        margin: 2px 2px 5px -24px;
        width: 28px;
        height: 28px;
        background: $white;
        border-radius: 5px;
        border: 1px solid $grey-border;
        display: block;
        content: "";
        float: left;
        transform: translate(-2px, -4px);
      }

      input[type="checkbox"]:checked + label::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.89 20.19"><defs><style>.cls-1{fill:%23d8d8d8;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M10.24,20.19.73,10.68A2.5,2.5,0,1,1,4.27,7.15l6,6L22.62.73a2.5,2.5,0,0,1,3.54,3.54Z"/></g></g></svg>');
        background-size: 75% 75%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      /* Reset Select */
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: none;
        background: $white;
      }

      /* Remove IE arrow */
      select::-ms-expand {
        display: none;
      }

      /* Custom Select */
      .select {
        position: relative;
        display: flex;
        width: 100%;
        height: 44px;
        line-height: 1.4;
        overflow: hidden;
        border: 1px solid $grey-border;
        border-radius: 5px;

        @media only screen and (min-width: $breakpoint-large) {
          width: 90%;
        }
      }

      select {
        flex: 1;
        padding: 0 .5em;
        color: $grey-medium;
        cursor: pointer;
        font-size: 1.2rem;

        option {
          font-family: $font-family-paras;
        }
      }

      /* Arrow */
      .select::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1rem;
        margin: 4px 4px 0 0;
        height: 36px;
        color: #aaa;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        font-size: 3rem;
        background-color: $white;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.83 15.3"><defs><style>.cls-1{fill:%236d6d6d;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><g id="arrow-down-sign-to-navigate"><path id="Pfad_110" data-name="Pfad 110" class="cls-1" d="M13.42,15.3a1.88,1.88,0,0,1-1.33-.55L.54,3.2A1.88,1.88,0,0,1,3.2.54L13.42,10.76,23.63.54A1.88,1.88,0,0,1,26.29,3.2L14.74,14.75A1.88,1.88,0,0,1,13.42,15.3Z"/></g></g></g></svg>');
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      textarea {
        overflow: auto;
        outline: none;
        resize: vertical;
        border: 1px solid $grey-border;
        border-radius: 5px;
        width: 100%;
        padding: 10px;

        @media only screen and (min-width: $breakpoint-large) {
          width: 90%;
        }
      }

      .label-text-input {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        top: -22px;
        padding: 0 10px;
        margin: 8px 10px;
        font-weight: bold;
        background-image: linear-gradient(to bottom, $grey-light 15px, $white 15px);
        z-index: 100;
      }

      .label-radio-input {
        margin-right: 30px;
      }

      .input-label-wrapper {
        padding-left: 24px;
        text-indent: -24px;
      }

      .label-checkbox-input, .price-wrapper, .price-wrapper span {
        font-size: 0.875rem;
      }

      .label-checkbox-input {
        margin-left: 24px;
      }

      .form-icon {
        display: none;
        width: 22px;
        vertical-align: bottom;
      }

      .gap-filler hr {
        display: none;
      }

      @media only screen and (min-width: $breakpoint-small) {
        .form-icon {
          display: inline-block;
        }

        .gap-filler hr {
          display: block;
        }

        .label-checkbox-input {
          font-size: 1rem;
        }

        .price-wrapper {
          min-width: 0;
        }
      }

      .step-back-wrapper {
        margin-left: 30px;
      }

      .recaptcha-img {
        width: 50%;
        min-width: 200px;
      }
    }

    .info-bar-2 {
      clear: both;
      padding: 45px 0 0 0;

      .tile-left {
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.6rem 1.4rem;
        filter: drop-shadow(0px 0px 4px $grey-drop-shadow);
        background-image: linear-gradient(135deg, $green 0%, transparent 99%), linear-gradient(315deg, transparent 20px, $white 20px);

        @media only screen and (min-width: $breakpoint-small) {
          width: 48%;
          margin: 0.5rem 2% 0.5rem 0;
        }
      }

      .tile-right {
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.6rem 1.4rem;
        filter: drop-shadow(0px 0px 4px $grey-drop-shadow);
        background-image: linear-gradient(315deg, transparent 20px, $grey-light 20px);

        @media only screen and (min-width: $breakpoint-small) {
          width: 48%;
          margin: 0.5rem 0 0.5rem 2%;
        }
      }

      h3 {
        padding-bottom: 0.6rem;
        border-bottom: 2px dotted $grey-medium;
      }
    }

    .info-bar-customers {
      padding: 45px 0 0 0;

      .customer-logo-header {
        width: 100%;
        margin: 0.5rem 0;
      }

      .row.customer-logos-wrapper {

        .col-customer-logo.first, .col-customer-logo.third, .col-customer-logo.fifth {
          margin: 0.5rem 4% 0.5rem 0;
        }

        .col-customer-logo.second, .col-customer-logo.fourth, .col-customer-logo.last {
          margin: 0.5rem 0 0.5rem 4%;
        }
      }

      @media only screen and (min-width: $breakpoint-small) {
        .row.customer-logos-wrapper {

          .col-customer-logo.first, .col-customer-logo.fourth {
            margin: 0.5rem 3% 0.5rem 0;
          }

          .col-customer-logo.second, .col-customer-logo.fifth {
            margin: 0.5rem 3% 0.5rem 3%;
          }

          .col-customer-logo.third, .col-customer-logo.last {
            margin: 0.5rem 0 0.5rem 3%;
          }
        }
      }

      @media only screen and (min-width: $breakpoint-med) {
        .row.customer-logos-wrapper {

          .col-customer-logo.first {
            margin: 0.5rem 2.4% 0.5rem 0;
          }

          .col-customer-logo.second, .col-customer-logo.third, .col-customer-logo.fourth, .col-customer-logo.fifth {
            margin: 0.5rem 2.4% 0.5rem 2.4%;
          }

          .col-customer-logo.last {
            margin: 0.5rem 0 0.5rem 2.4%;
          }
        }
      }


      .col-customer-logo {
        width: ($width / 2) - ($gutter * 6 / 12);

        @media only screen and (min-width: $breakpoint-small) {
          width: ($width / 3) - ($gutter * 8 / 12);
        }

        @media only screen and (min-width: $breakpoint-med) {
          width: ($width / 6)- ($gutter * 10 / 12);
        }

        .customer-logo {
          width: 100%;
          max-width: 225px;
          max-height: 75px;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .bottom-bar {
      height: 1.5rem;
      width: 100%;
      background-color: $dark-blue;
    }

    .info-bar-news {
      padding: 45px 0 0 0;

      .col-front-news-header {
        width: 100%;
        margin: 0.5rem 0;
      }

      h2 {
        width: 100%;
      }

      .more-news-link.top {
        background-position: 100% 65%;
        background-repeat: no-repeat;
        background-size: 3%;
        padding-right: 18px;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"> <style type="text/css"> .st0{fill:%234ef4ac;} </style> <path class="st0" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/> </svg> ');
        width: 40%;
        float: right;
        cursor: pointer;
        margin-top: 22px;
        text-align: right;
        display: none;
      }

      .more-news-link.bottom {
        background-position: 145px 60%;
        background-repeat: no-repeat;
        background-size: 7%;
        padding-right: 18px;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"> <style type="text/css"> .st0{fill:%234ef4ac;} </style> <path class="st0" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/> </svg> ');
        width: 180px;
        cursor: pointer;
        margin: 40px auto 0 auto;
        text-align: center;
        display: block;
      }

      .more-news-link a {
        color: $green;
        text-decoration: none;
        font-weight: bold;
      }

      .more-news-link img {
        width: 12px;
        vertical-align: middle;
      }

      .col-front-news {
        width: $width;
        position: relative;
        height: auto;
        padding-bottom: 20px;
        background-color: $grey-light;

        .news-body {
          padding: 0 1.25rem;
        }
      }

      .col-front-news.left {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
      }

      .col-front-news.center, .col-front-news.right {
        display: none;
      }

      @media only screen and (min-width: $breakpoint-small) {
        .col-front-news.left {
          width: ($width / 2) - ($gutter * 6 / 12);
          margin: 0.5rem 4% 0.5rem 0;
        }

        .col-front-news.center {
          display: block;
          margin: 0.5rem 0 0.5rem 4%;
        }

        .col-front-news {
          width: ($width / 2) - ($gutter * 6 / 12);
        }
      }

      @media only screen and (min-width: $breakpoint-med) {
        .col-front-news.left {
          width: ($width / 3) - ($gutter * 8 / 12);
          display: block;
          margin: 0.5rem 3% 0.5rem 0;
        }

        .col-front-news.center {
          display: block;
          margin: 0.5rem 3% 0.5rem 3%;
        }

        .col-front-news.right {
          display: block;
          margin: 0.5rem 0 0.5rem 3%;
        }

        .col-front-news {
          width: ($width / 3) - ($gutter * 8 / 12);
        }

        h2 {
          width: 60%;
        }

        .more-news-link.top {
          display: block;
        }

        .more-news-link.bottom {
          display: none;
        }
      }

      h3 {
        margin-bottom: 0;
        height: calc(#{$news-header-max-lines} * #{$line-height});
        @include multiLineEllipsis($news-header-max-lines);
      }

      .col-news {
        background-color: $grey-light;
        margin-bottom: 48px;
      }

      .top-bar {
        width: 100%;
        height: 0.3rem;
        background-color: $grey-dark;
      }

      .news-body {
        padding: 0;

        .news-date-wrapper {
          width: 100%;
          height: auto;
          margin-bottom: 1rem;
          background-color: transparent;

          .news-date {
            float: left;
            width: auto;
            height: 2rem;
            color: $green;
            margin-top: 0;
          }

          .news-date p {
            color: $green;
            font-weight: $font-weight-heavy;
          }

          .gap-filler {
            margin-top: 15px;
          }

          .news-dotted-line {
            float: right;
            width: calc(75% - 1.25rem);
            height: 2rem;
            margin-top: 1rem;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
            font-weight: 700;
          }
        }

        .news-text {
          clear: both;
          @include multiLineEllipsis($news-text-max-lines);
        }
      }

      .news-btn {
        background-color: $green;
        padding-right: 24px;
        color: $white;
        border: none;
        width: 110px;
        height: 36px;
        position: absolute;
        right: 30px;
        bottom: -18px;
        padding-bottom: 0.3rem;
        font-family: "Jura", sans-serif;
        font-size: 1.2rem;
        background-repeat: no-repeat;
        background-size: auto, auto 40%;
        background-position: 0, 82%;
        background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
      }
    }

    .info-bar-ssl-payment {
      margin: 65px 0 0 0;
      padding-bottom: 30px;
      background-color: $grey-light;

      .col-ssl {
        width: $width;
        margin: 0 2%;

        @media only screen and (min-width: $breakpoint-large) {
          width: ($width / 2) - ($gutter * 6 / 12);
        }
      }

      .ssl-wrapper {
        display: block;
        height: auto;

        p {
          width: $width;
          height: auto;
          padding: 2%;
          float: none;
        }

        p img {
          width: 40%;
          max-width: 150px;
          margin: 0 auto;
          display: block;
          float: none;
        }

        h3 {
          width: $width;
          padding: 4% 2%;
          text-align: center;
        }

        @media only screen and (min-width: $breakpoint-small) {
          display: flex;
          justify-content: center;
          align-items: center;

          h3 {
            width: 80%;
            float: right;
            padding: 7% 2%;
            text-align: left;
          }

          p {
            width: 20%;
            float: left;
          }

          p img {
            display: block;
            width: 98%;
            float: left;
            margin: 0;
          }
        }
      }

      .payment-header {
        margin: 20px 0 0.5rem 0.75rem;

        @media only screen and (min-width: $breakpoint-large) {
          margin: 50px 0 0.5rem 0.75rem;
        }
      }

      .col-payment {
        width: ($width / 6) - ($gutter * 10 / 12);
        /*
        Remove comment if payment logos should behave responsive

        width: ($width / 2) - ($gutter * 6 / 12);

        @media only screen and (min-width: $breakpoint-small) {
          width: ($width / 3) - ($gutter * 8 / 12);
        }

        @media only screen and (min-width: $breakpoint-med) {
          width: ($width / 6) - ($gutter * 10 / 12);
        }*/
      }

      .payment-logo {
        width: 100%;
      }
    }

    .footer {
      margin: 45px 0;

      h3 {
        padding-bottom: 0.6rem;
        border-bottom: 2px dotted $grey-medium;
      }

      .contact-table {
        margin-top: 30px;
        display: table;

        .contact-row {
          display: table-row;

          .contact-cell {
            display: table-cell;
            padding-right: 0.75rem;
            font-size: 0.85rem;
            font-weight: 400;

            a {
              font-size: 0.85rem;
              font-weight: 400;
              text-decoration: underline;
            }
          }
        }
      }

      .col-footer {
        width: $width;
      }

      @media only screen and (min-width: $breakpoint-small) {
        .col-footer.center, .col-footer.right {
          width: ($width / 2) - ($gutter * 6 / 12);
        }
      }

      @media only screen and (min-width: $breakpoint-large) {
        .col-footer.left, .col-footer.center, .col-footer.right {
          width: ($width / 3) - ($gutter * 8 / 12);
        }
      }

      .col-footer p {
        margin: 0.15rem 0;
        font-size: 0.85rem;
      }
    }
  }

  .content-wrapper-wide {
    width: 100%;
    background-color: $grey-light;

    &.eagle-bg {
      background: url("../img/eagle-bg-left.png") right top no-repeat, url("../img/eagle-bg-right.png") left top no-repeat;
      background-size: 380px 710px;
    }
  }

  .info-block-news {

    .top-bar {
      width: 100%;
      height: 0.3rem;
      background-color: $grey-dark;
    }

    .news-header {
      margin: 1.75rem 0;
    }

    .news-body-single .news-header {
      margin: 1.75rem 0 0.25rem 0;
    }

    .col-news {
      background-color: $grey-light;
      margin-bottom: 48px;
      width: $width;
      position: relative;
      height: auto;
      padding-bottom: 20px;

      @media only screen and (min-width: $breakpoint-small) {
        width: ($width / 2) - ($gutter * 6 / 12);
      }

      @media only screen and (min-width: $breakpoint-large) {
        width: ($width / 3) - ($gutter * 8 / 12);
      }
    }

    h3 {
      margin-bottom: 0;
      height: calc(#{$news-header-max-lines} * #{$line-height});
      @include multiLineEllipsis($news-header-max-lines);
    }

    .news-body {
      padding: 0 1.25rem;

      &.news-body-single {
        padding: 0;
      }

      .news-date-wrapper {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        background-color: transparent;

        .news-date {
          float: left;
          width: auto;
          height: 2rem;
          color: $green;
          margin-top: 0;
        }

        .news-date p {
          color: $green;
          font-weight: $font-weight-heavy;
        }

        .gap-filler {
          margin-top: 15px;

          hr {
            margin-top: 18px;
          }
        }

        .news-dotted-line {
          float: right;
          width: calc(75% - 1.25rem);
          height: 2rem;
          margin-top: 1rem;
          overflow: hidden;
          text-overflow: clip;
          white-space: nowrap;
          font-weight: 700;
        }
      }
    }

    .news-btn, .news-back-btn {
      background-color: $green;
      color: $white;
      border: none;
      width: 120px;
      height: 36px;
      padding-bottom: 0.3rem;
      font-family: $font-family-headers;
      font-size: 1.2rem;

      a {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }
    }

    .news-btn img, .news-back-btn img {
      width: 14px;
    }

    .news-btn, .news-back-btn {
      position: absolute;
      right: 30px;
      bottom: -18px;
      background-repeat: no-repeat;
      background-size: auto, auto 40%;
      background-position: 0, 90%;
      padding-right: 18px;
      background-image: linear-gradient(315deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="white" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
    }

    .news-back-btn {
      position: relative;
      right: initial;
      background-position: 0, 15%;
      background-image: linear-gradient(45deg, #ffffff 10px, transparent 10px), url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="enable-background:new 0 0 25 25;" viewBox="0 0 25 25" y="0px" x="0px"><style id="style2" type="text/css"> .st0{fill:%23FFFFFF;} </style><path style="fill:%23ffffff" id="path4" d="m 1.6,12.1 c -0.1,0.1 -0.1,0.3 -0.1,0.4 0,0.1 0,0.3 0.1,0.4 0.1,0.1 0.1,0.2 0.2,0.3 l 10,10 c 0.4,0.4 1,0.4 1.4,0 0.4,-0.4 0.4,-1 0,-1.4 l -8.3,-8.3 17.6,0 c 0.6,0 1,-0.4 1,-1 0,-0.6 -0.4,-1 -1,-1 l -17.6,0 8.3,-8.3 c 0.4,-0.4 0.4,-1 0,-1.4 C 13,1.6 12.7,1.5 12.5,1.5 12.3,1.5 12,1.6 11.8,1.8 l -10,10 c 0,0 0,0 0,0 -0.1,0.1 -0.2,0.2 -0.2,0.3 z" class="st0" /> </svg>');
      margin-bottom: 30px;
      padding-left: 38px;
    }

    .news-pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: 20px auto 0 auto;

      @media only screen and (min-width: $breakpoint-large) {
        width: 60%;
      }

      @media only screen and (min-width: $breakpoint-large) {
        width: 40%;
      }

      a, span {
        font-size: 1.25rem;
        text-decoration: none;
      }

      a.link-active, a:hover {
        color: $green;
      }

      .pagination-arrow {
        width: 20px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center 60%;
      }

      .pagination-arrow.left {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="enable-background:new 0 0 25 25;" viewBox="0 0 25 25" y="0px" x="0px"><style id="style2" type="text/css"> .st0{fill:%23FFFFFF;} </style><path style="fill:%232b2b2b" id="path4" d="m 1.6,12.1 c -0.1,0.1 -0.1,0.3 -0.1,0.4 0,0.1 0,0.3 0.1,0.4 0.1,0.1 0.1,0.2 0.2,0.3 l 10,10 c 0.4,0.4 1,0.4 1.4,0 0.4,-0.4 0.4,-1 0,-1.4 l -8.3,-8.3 17.6,0 c 0.6,0 1,-0.4 1,-1 0,-0.6 -0.4,-1 -1,-1 l -17.6,0 8.3,-8.3 c 0.4,-0.4 0.4,-1 0,-1.4 C 13,1.6 12.7,1.5 12.5,1.5 12.3,1.5 12,1.6 11.8,1.8 l -10,10 c 0,0 0,0 0,0 -0.1,0.1 -0.2,0.2 -0.2,0.3 z" class="st0" /> </svg>');

        &:hover {
          background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="enable-background:new 0 0 25 25;" viewBox="0 0 25 25" y="0px" x="0px"><style id="style2" type="text/css"> .st0{fill:%23FFFFFF;} </style><path style="fill:%234ef4ac" id="path4" d="m 1.6,12.1 c -0.1,0.1 -0.1,0.3 -0.1,0.4 0,0.1 0,0.3 0.1,0.4 0.1,0.1 0.1,0.2 0.2,0.3 l 10,10 c 0.4,0.4 1,0.4 1.4,0 0.4,-0.4 0.4,-1 0,-1.4 l -8.3,-8.3 17.6,0 c 0.6,0 1,-0.4 1,-1 0,-0.6 -0.4,-1 -1,-1 l -17.6,0 8.3,-8.3 c 0.4,-0.4 0.4,-1 0,-1.4 C 13,1.6 12.7,1.5 12.5,1.5 12.3,1.5 12,1.6 11.8,1.8 l -10,10 c 0,0 0,0 0,0 -0.1,0.1 -0.2,0.2 -0.2,0.3 z" class="st0" /> </svg>');
        }
      }

      .pagination-arrow.right {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="%232b2b2b" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');

        &:hover {
          background-image: url('data:image/svg+xml;charset=UTF-8,<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25;" xml:space="preserve"><path fill="%234ef4ac" d="M23.4,12.9c0.1-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3l-10-10c-0.4-0.4-1-0.4-1.4,0 s-0.4,1,0,1.4l8.3,8.3H2.5c-0.6,0-1,0.4-1,1s0.4,1,1,1h17.6l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 l10-10c0,0,0,0,0,0C23.3,13.1,23.4,13,23.4,12.9z"/></svg>');
        }
      }
    }
  }

  /* Example page - should be removed for production */
  .content-wrapper-slim.example {
    margin-top: 0;

    @media only screen and (min-width: $breakpoint-large) {
      margin-top: 75px;
    }

    .head-tags-wrapper {
      padding-top: 160px;

      @media only screen and (min-width: $breakpoint-large) {
        padding-top: 0;
      }
    }

    h1, h2, h3, .sub-headline {
      color: $dark-blue;
      width: 100%;
      text-align: left;
      line-height: 2.25rem;
    }

    .sub-headline {
      color: $green;
      width: 100%;
      text-align: left;
      font-size: 1.0625rem;
    }

    .color-examples, .text-examples, .order-form {
      margin-bottom: 100px;
    }

    // Color codes
    .col-color-example {
      font-weight: 700;
      height: 150px;
      padding: 15px;
      width: ($width / 2) - ($gutter * 6 / 12);

      @media only screen and (min-width: $breakpoint-small) {
        width: ($width / 3) - ($gutter * 8 / 12);
      }

      &.color-1 {
        background-color: $dark-blue;
        color: $white;
      }

      &.color-2 {
        background-color: $green;
        color: $dark-blue;
      }

      &.color-3 {
        background-color: $orange;
        color: $white;
      }

      &.color-4 {
        background-color: $grey-dark;
        color: $white;
      }

      &.color-5 {
        background-color: $grey;
        color: $white;
      }

      &.color-6 {
        background-color: $grey-light;
        color: $dark-blue;
      }
    }

    // Accordion
    .col-accordion {
      width: $width;
    }

    .row-accordion {
      color: $dark-blue;
      background: $white;
      padding: 0 0 1rem 0;

      h1 {
        margin: 0;
        line-height: 2;
        text-align: center;
      }

      h2 {
        margin: 0 0 .5em;
        font-weight: normal;
      }

      input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      .tabs {
        overflow: hidden;

        &:last-child {
          border-bottom: 1px dotted $grey-medium;
        }
      }

      .tab {
        width: 100%;
        color: $grey-dark;
        border-top: 1px dotted $grey-medium;
        overflow: hidden;

        &-label {
          display: flex;
          justify-content: space-between;
          padding: 1em;
          background: $white;
          font-weight: bold;
          cursor: pointer;
          /* Icon */
          &:hover {
            background: darken($white, 10%);
          }

          &::after {
            content: "";
            width: 1rem;
            height: 1.4rem;
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.9 20.9"><defs><style>.cls-1{fill:%234ef4ac;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M11.94,11.94h7.77a1.19,1.19,0,0,0,1.19-1.19v-.6A1.19,1.19,0,0,0,19.71,9H11.94V1.19A1.19,1.19,0,0,0,10.75,0h-.6A1.19,1.19,0,0,0,9,1.19V9H1.19A1.19,1.19,0,0,0,0,10.15v.6a1.19,1.19,0,0,0,1.19,1.19H9v7.77a1.19,1.19,0,0,0,1.19,1.19h.6a1.19,1.19,0,0,0,1.19-1.19Z"/></g></g></svg>');
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }

        &-content {
          max-height: 0;
          padding: 0 1em;
          color: $grey-dark;
          background: $white;
          transition: all .35s;
        }

        &-close {
          display: flex;
          justify-content: flex-end;
          padding: 1em;
          font-size: 0.75em;
          background: $white;
          cursor: pointer;

          &:hover {
            background: darken($white, 10%);
          }
        }

        .tab-col {
          max-height: 0;
          width: 100%;
          float: left;
          padding: 0 10px 0 0;

          @media only screen and (min-width: $breakpoint-small) {
            width: 50%;
          }
        }
      }

      // :checked
      input:checked {
        + .tab-label {
          background: darken($white, 10%);

          &::after {
            content: "";
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.9 2.99"><defs><style>.cls-1{fill:%232b2b2b;}</style></defs><g id="Ebene_2" data-name="Ebene 2"><g id="Ebene_1-2" data-name="Ebene 1"><path class="cls-1" d="M11.94,3h7.77a1.19,1.19,0,0,0,1.19-1.2v-.6A1.19,1.19,0,0,0,19.71,0H1.19A1.19,1.19,0,0,0,0,1.19v.6A1.19,1.19,0,0,0,1.19,3H11.94Z"/></g></g></svg>');
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }

        ~ .tab-content {
          max-height: 300vh; // needs to be set, adjust according to amount of content
          height: auto;
          padding: 1em;

          .tab-col {
            max-height: 300vh; // needs to be set, adjust according to amount of content
            padding: 0 10px 15px 0;
          }
        }
      }
    }
  }
}
